/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */


#testAnnotationSize
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
}

.graphAnnotation{
	position:absolute;
	white-space: nowrap;
	color:#666;
	overflow: hidden;
	/* width: 15em; */
	height: 1.5em;
	cursor: default;
}

#annotationsDiv{
	overflow: hidden;
	
}


 #searchresults
 {
 	border: 1px solid grey; 
 	width: 95%; 
 	height: 15em; 
 	overflow-x: hidden; 
 	overflow-y: scroll; 
 	position: relative;
 	padding: 1em;
 
 }

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 200px;
}


.note{
	text-align: left;
	font-size: 0.75em;
	margin: 0 0 0.5em;
}

#controlPanel a
{
	cursor: pointer;
}

#graphDiv
{
	width: 72%; 
	float: left;
}

#resultsBoxInner
{
	margin-top: 1em; 
}

.matches-text
{
	float: left;
	width: 49%;
	font-weight: bold;	
}

.matches-note
{
	float: right;
	text-align: right;
	width: 49%;
}

.legend{
	font-size: 80%;
}
.legendColorBox div {
	margin-top: 0.4em;
}
.legendColorBox div div {
	margin-top: 0;
}

.tickLabel
{
	font-size: 0.7em;
	line-height: 0.9;
}

.accordion {
	width: 100%;
	}
 
.accordionButton {
    border: 1px solid #D3D1CA;
    cursor: pointer;
    float: left;
    width: 94%;
    font-style: italic;
    color: #000;
    padding: 0.5em 3%;
    margin: 0.5em 0 0;
}
.accordionContent {
    float: left;
    width: 92%;
    border-right: 1px solid #D3D1CA;
    border-bottom: 1px solid #D3D1CA;
    border-left: 1px solid #D3D1CA;
    padding: 0.2em 4%;
    font-size: 0.9em;
    
}
.accordionContent p 
{
    text-align: left;
    margin: 0.5em 0;
}
.accordionButton.on {
    border-bottom: 1px solid #ebe9e1;
    background: none repeat scroll 0 0 #F5F4F0;
}
.over {
    background: none repeat scroll 0 0 #F5F4F0;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

td.formLabel
{
	padding-right: 1em;
    width: 22em;
    vertical-align: top;
    text-align: right;
}

td.formLabelSmall
{
	padding-right: 1em;
    width: 11em;
    vertical-align: top;
    text-align: right;
}

.clearb
{
  clear: both;
  margin: 0;
  padding: 0;
  *zoom:1;
  line-height: 0;
  font-size: 0;
}

.form-box 
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #696B67;
    display: block;
    margin: 2% 0 0;
}
.form-box form 
{
    background-color: #F7F6F3;
    border: 1px solid #E7E5E1;
    padding: 1em 2em;
    
}
.lt-ie8 .form-box form h1 
{
    padding-top: 0.5em;
}

.form-box .two-cols
{
	width: 100%;	
}

.form-box .two-cols .left-col
{
	width: 47%;
	float: left;
	clear: both;
	
}

.form-box .two-cols .right-col
{
	width: 47%;
	float: right;
}

.lt-ie8 .form-box .two-cols .left-col
{
	width: 50% !important;
	margin-bottom: 1em;
}

.lt-ie8 .form-box .two-cols .right-col
{
	width: 50% !important;
	clear: both;
}

.dialog-inner{
    background-color: #F7F6F3;
    border: 1px solid #E7E5E1;
    margin: 0.2em;
    padding: 1em 2em;
}

.calendar-dialog-inner{
	background-color: #E8EAE1;
    border: 1px solid #E7E5E1;
    margin: 0.2em;
}


.form-box form h1 
{
    padding-top: 0.5em;
}
input,select,textarea
{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    /*width: 96%;
    display: block; */
    padding: 0.4em;
    border: 1px solid #d3d1ca;
    margin-bottom: 0.5em;
    margin-top: 0; 
    color: #6e6f6e;
    font-style: italic;
}

.center-form
{
	width: 70%;
	margin: 0 auto;	
}

.center-form-full-width
{
	width: 100%;	
}

.center-form-full-width .label-right-col
{
	margin-bottom: 0 !important;	
}

.center-form-full-width .input-left-col
{
	margin-bottom: 0 !important;	
}

.center-form-full-width .form-buttons
{
	margin-top: 1em;
}

.error-message,
.success-message
{
	display: none; 
	width: 100%; 
	font-size: 90%; 
	margin: 1em 0; 
	
}

.error-message p,
.success-message p{
	margin: 1em 0;		
}

.center-form h2
{
	border-bottom: 1px solid #D4D2CA;
	background: none;
	font-weight: 400;
}

.label-right-col
{
	width: 40%;
	float: left;
	clear: both;
	margin-bottom: 1em;
	text-align: right;
	padding-top: 0.35em;
}
.input-left-col
{
	width: 58%;
	float: right;
	margin-bottom: 1em;
}

.form-buttons
{
	text-align: left;
	
}
.form-buttons .green-button,
.form-buttons .white-button
{
	margin: 0 0.8em 0 0 !important;
}

.left-form .form-buttons .green-button
{
	margin: 0 !important;
}
.left-form
{
	width: 100%;
}


.left-form p
{
	margin: 1em 0;
}

.form-left-col
{
	width: 47%;
	float: left;		
}

.form-right-col
{
	width: 47%;
	float: right;	
}

.form-right-col input.radio-button
{
    float: left;
    margin: 0.5em 0.7em 2em 0;
}
.left-form .label-right-col
{
	width: 30%;
	text-align: left;
}
.left-form .input-left-col
{
	width: 68%;
	text-align: right;
	margin: 0;
}
.input-left-col select,
.input-left-col textarea

{
	width: 95%;
}
.left-form .input-left-col .white-button,
.left-form .form-buttons
{
	margin: 0 !important;
	text-align: right !important;
}

span.timepicker
{
	white-space: nowrap;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
{
    display: block;
}
audio, canvas, video
{
    display: inline-block; *display:inline;*zoom:1;
}
audio:not([controls])
{
    display: none;
}
[hidden]
{
    display: none;
}

html
{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html, button, input, select, textarea
{
    font-family: 'Lato',Arial,Helvetica,sans-serif;
    color: #6E6F6E;
}
body
{
    margin: 0;
    padding: 0;
}

::-moz-selection
{
    background: #93b2c2;
    color: #fff;
    text-shadow: none;
}
::selection
{
    background: #93b2c2;
    color: #fff;
    text-shadow: none;
}

a
{
    color: #369645;
    text-decoration: none;
    font-weight: 400;
}
a:visited
{
    color: #369645;
}
a:hover
{
    color: #369645;
    text-decoration: underline;
}
a:focus
{
    outline: 0;
}
a:hover, a:active
{
    outline: 0;
}
p 
{
    margin: 0.5em 0 1em;
    text-align: justify;
}
p a.block
{
    display: block;
    text-align: center;
    margin-top: 0.5em;
}
abbr[title]
{
    border-bottom: 1px dotted;
}
b, strong
{
    font-weight: bold;
}
blockquote
{
    margin: 1em 40px;
}
dfn
{
    font-style: italic;
}
hr
{
    display: block !important;
    height: 1px;
    border-top: 1px solid #c7c5bf;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin: 1em 45%;
    padding: 0;
}

mark
{
    background: #f4d5dd;
    color: #000;
}

q
{
    quotes: none;
}
q:before, q:after
{
    content: "";
    content: none;
}
small
{
    font-size: 0.857em;
}

sub, sup
{
    font-size: 0.857em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup
{
    top: -0.5em;
}
sub
{
    bottom: -0.25em;
}

ol
{
    margin: 1em 0;
    padding: 0 0 0 1.5em;
}
ul
{
    margin: 1em 0;
    padding: 0 0 0 1.5em;
}
dd
{
    margin: 0 0 0 40px;
}
nav ul, nav ol
{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img
{
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 0;
}

form
{
    margin: 0;
}
fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
}
label
{
    /*cursor: pointer;*/
}
legend
{
    border: 0; *margin-left:-7px;padding:0;white-space:normal;
}
    
input, select, textarea
{
    font-size: 1em;
    margin-bottom: 0.5em; 
    vertical-align: baseline; *vertical-align:middle;
}    
input.input-full
{
	width: 95%;
}

input.input-large
{
	width: 75%;
}


input.input-medium
{
	width: 63%;
}
input.input-small
{
	width: 45%;
}

button
{
    font-size: 1em;
    vertical-align: baseline; *vertical-align:middle;}

button, input
{
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"]
{
    cursor: pointer;
    -webkit-appearance: button; *overflow:visible;
}

.lt-ie8 input[type="password"]
{
	font-family: Arial, Helvetica, sans-serif;
}

button[disabled], input[disabled]
{
    cursor: default;
}
input[type="checkbox"], input[type="radio"]
{
    box-sizing: border-box;
    padding: 0; *width:13px;*height:13px;
    margin: 0.9em 0.5em 0;
    border: none;
}
input[type="search"]
{
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
{
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
textarea
{
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
input:valid, textarea:valid
{
}
input:invalid, textarea:invalid
{
    background-color: #f0dddd;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}
td
{
    vertical-align: top;
}
table.custom-table 
{
    border-collapse: collapse;
    text-align: center;
    background-color: #d9e2ec;
    margin-bottom: 0.5em;
}
table.custom-table th 
{
    border-right: 1px solid #fff;
    background-color: #003e7e;
    color: #fff;
    padding: 0.3em;
}
table.custom-table td 
{
    border: 1px solid #b2c5d8;
    padding: 0.3em;
}
.chromeframe
{
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

.clearfix:before, .clearfix:after
{
    content: "";
    display: table;
}
.clearfix:after
{
    clear: both;
}
.clearfix
{ 
  *zoom:1;
  clear: both;
  line-height: 0;
  font-size: 0;
  }
  .odd 
  {
      clear: both;
  }

/* ===== Primary Styles ========================================================
   Author: Olga Sichova
   ========================================================================== */
body 
{
    min-width: 320px;    
    font-size: 1.25em;
    line-height: 1.4em;
    background-color: #eae8e1;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #434343;
    border-top: 4px solid #000;
}

#page
{
    max-width: 1200px;
    width: 90%;
    _width: 1200px; /* IE6 fix */
    margin: 0 auto;
    padding: 1.5em 0 2.5em;
    _padding-top:2em;
    /* position not set in ie? */
    position: relative;
}

.lt-ie8 #page
{
	overflow: visible;
	
}

.left-col 
{
    width: auto;
    float: left;
}

.lt-ie8 .left-col
{
	width: 49%;
}

.right-col 
{
    width: auto;
    float: right;
    text-align: right;
}

.lt-ie8 .right-col
{
	width: 50%;
	
}

.lt-ie8 #header
{
	position: inherit;
	overflow: hidden;
}

#header 
{
	/* position not set in ie? */
    position: relative;
}
#header .left-col a
{
    width: 13em;
    display: block;
}
#header .left-col 
{
    width: auto;
    float: left;
   
}
.lt-ie8 #header .left-col 
{
    width: 13em;
    float: left;
   
}

.lt-ie8 #header .right-col 
{
    width: 50%;
    float: right;
   
}

#header .left-col hr 
{
    margin: 0.5em 0 0.3em;
}
#header .left-col .sys-title 
{
    font-size: 0.9em;
    margin-bottom: 0.5em;
    /* text-align not set in ie? */
    text-align: center;
}
#header .right-col 
{
    text-align: right;
    margin-right: 0.5em;
    /* position, right, top not set in ie? */
    right: 0;
    top: 0;
}
#header .right-col br.hidden 
{
    display: none;
}
img#logo
{
    _width: 250px;  /* IE6 fix */
    _height: 35px;
    width: 100%;
    max-width: 100% !important;
    height: auto;

}


.sys-title 
{
    text-transform: uppercase;
    color: #000;
    font-size: 1.2em;
}


.participant-name 
{
    font-weight: 700;
    font-style: italic;
    font-size: 0.9em;
}
#header .right-col img
{
    height: auto;
    max-width: 100% !important;
    padding: 0 0.5em;  
} 
#header .right-col a 
{
    font-size: 0.8em;
}

/* Navigation Level 1 */

#nav-level1 
{
    border-bottom: 2px solid #D4D2CA;
}
#nav-level1 ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
#nav-level1 ul li 
{
    float: left;
    padding: 0;
    margin: 1px 6px 0 1px;
    border-left: 1px solid #d4d2ca;
    border-right: 1px solid #d4d2ca;
    border-top: 1px solid #d4d2ca;
}
#nav-level1 ul li a 
{
    padding: 0.4em 1em;
    line-height: 1.2;
    font-size: 0.8em;
    font-weight: 700;
    float: left;
    color: #2159a7;
    margin-bottom: -0.15em;

}
#nav-level1 ul li a:hover 
{
    
    text-decoration: none;
    color: #2159a7;
    background-color: #fff;
}

#nav-level1 ul li.selected 
{
    float: left;
    padding: 0;
    margin: 0px 5px -2px 0px;
    border-left: 2px solid #d4d2ca;
    border-right: 2px solid #d4d2ca;
    border-top: 2px solid #d4d2ca;
}
#nav-level1 ul li.selected a:hover 
{
    text-decoration: none;
    background-color: transparent;
    background-color: #fff;
}
#nav-level1 ul li.selected  a 
{
    color: #696b67;
    background-color:#FFF;
}

/* Navigation level 2 */

#content-level2 h3
{
    margin: 0.5em 0 1em;
    width: 26%;
    float: left;
}

#nav-level2 
{
    float: right;
    width: 73%;
    margin: 0.5em 0 1.5em;
}
#nav-level2 ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
#nav-level2 ul li 
{
    float: left;
    padding: 0;
    margin: 0 0.2em 0 0;
    border: 1px solid #d4d2ca;
}
.ie #nav-level2 ul li 
{
    margin: 0 0.4em 0 0;
}
#nav-level2 ul li a 
{
    float: left;
    color: #2159a7;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#nav-level2 ul li a span {
    padding: 0.2em 0.9em;
    margin: 0;
    width: auto;
    font-size: 0.8em;
    font-weight: 900;
    font-style: italic;
    float: left;
    
}

.lt-ie8 #nav-level2 ul li a span {
    padding: 0.2em 0.5em;
    
}

#nav-level2 ul li a span span {
    padding: 0;
    width: auto;
    float: none;
    
}
#nav-level2 ul li a:hover 
{
    
    text-decoration: none;
    color: #2159a7;
    background-color: #F7F6F3;
}

#nav-level2 ul li.selected 
{
}

.lt-ie8 #nav-level2 ul li.selected 
{
}
#nav-level2 ul li.selected a 
{
    background-color: #F7F6F3;
    color: #696B67;
}

.lt-ie8 #nav-level2 ul li.selected a 
{
}



#nav-level2 ul li.selected span 
{
}

.lt-ie8 #nav-level2 ul li.selected span 
{
}

#nav-level2 ul li.selected a:hover 
{
    text-decoration: none;
    background-color: #F7F6F3;
}
#nav-level2 ul li.selected  a 
{
    color: #696b67;
}
#content-level2 
{
    background-color: #fff;
    border-right: 2px solid #d4d2ca;
    border-bottom: 2px solid #d4d2ca;
    border-left: 2px solid #d4d2ca;
    padding: 2%;
}

/**/


input#search
{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    width: 10em;
    padding: 0.3em 1.7em 0.3em 0.3em;
    border: 1px solid #d3d1ca;
    margin: 0;
    color: #6e6f6e;
    font-style: italic;
    background: #fff url("../images/search_icon.gif") no-repeat scroll right center;
    
}
select 
{
    border: 1px solid #d3d1ca;
}
.dataTables_length 
{
    /*margin-top: 0.5em;*/
    font-size: 0.9em;
}

.dataTables_length select 
{
    /*margin-top: 0.5em;*/
    width: 4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}


.dataTables_filter 
{
    /*margin-top: 0.5em;*/
    font-size: 0.9em;
}

div.dataTables_processing
{
	position: relative;
	border: 1px solid #D4D2CA;
	top: 4em;
	text-align: center;
	background-color: #fff;
}


.spliter2 
{
    padding: 0 0.7em;
}

h1 .green-button 
{
    font-size: 0.6666em;
    position: absolute;
    right: 0;
    bottom: 1em;
}
.green-button 
{
    background-color: #fff;
    border: 1px solid #3cac46;
    padding: 1px;
    display: inline-block;
    margin-left: 0.8em;
}
.lt-ie8 .green-button
{
    padding: 0 1px 2px 1px;
}

.green-button button
{
    background-color: #3cac46;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 0.5em 1em;
    font-weight: 400;
}
.green-button button img
{
        padding-left: 0.7em;
        padding-right: 0;
        vertical-align: baseline;
}
.green-button button img.left
{
        padding-left: 0em;
        padding-right: 0.2em;
        vertical-align: baseline;
}
.white-button 
{
    background-color: #fff;
    border: 1px solid #d3d1ca;
    padding: 1px;
    display: inline-block;
    margin-left: 0.8em;
}
.white-button button
{
    background-color: #fff;
    border: 1px solid #d3d1ca;
    color: #000;
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 0.4em 0.7em;
    font-weight: 400;
}

.lt-ie8 .white-button
{
    padding: 0 1px 2px 1px;
}


.white-button button img.rightimg
{
		padding-left: 0.7em;
        vertical-align: baseline;
}

.white-button button img.leftimg
{
		padding-right: 0.7em;
        vertical-align: baseline;
}

a.download-link 
{
    border: 1px solid #d3d1ca;
    padding: 0.4em 1em 0.5em;
    margin-top: 1em;
    font-size: 0.85em;
    color: #000;
    text-align:center;
    white-space:nowrap;
    width: auto;
    display: inline;
}
.download-link img.pdf 
{
    padding: 0 0.7em 0 0;
}
.download-link img.arrow 
{
    padding: 0 0 0 0.7em;
}


/* Table */

table.datatables 
{
    width: 100%;
    margin: 0;
    border: 1px solid #d4d2ca;
}


table.datatables td
{
    padding: 0.7em;
    background-color: #f5f4f0;
    border-bottom: 1px solid #d4d2ca;
    vertical-align: middle;
    line-height: 1.2em;
}
table.datatables th 
{
    padding: 0.5em 0.7em;
    background-color: #d4d2ca;
    color: #2359a6;
    font-size: 0.8em;
    font-weight: 400;
    border-right: 1px solid #bebbb1;
    text-align: left;
    vertical-align: top;
    line-height: 1.2em;
}
table.datatables th .short 
{
    display: none;
}
th.days-since 
{
    border-right: none !important;
}
.arrows-right 
{
    float: right;
    width: 11px;
    height: 16px;
    background: url("../images/sort_arrows.gif") no-repeat scroll left top;
    margin-top: 0.3em;
}

.names 
{
    font-style: italic;
    font-weight: 700;
}
table.datatables tr:hover td 
{
    background-color: #fff;
    cursor: pointer;
}
.table-footer 
{
    display: block;
    background-color: #d4d2ca;
    height: 2.5em;
    overflow: hidden;
}
.dataTables_paginate 
{
    float: right;
    width: auto;
}

.datatables_paginate span
{
    padding: 0.5em 0.9em;
    float: left;
    border-left: 1px solid #bebbb1;
    color: #2359a6;
}

.paginate_button
{
	cursor: pointer;
}

.paginate_button, .paginate_active
{
    padding: 0.5em 0.9em 1em;
    float: left;
    border-left: 1px solid #bebbb1;
    color: #2359a6;
}

#participants_first img,
#participants_last img,
#participants_next img,
#participants_previous img
{
	padding: 0.4em;
}

p.pdf-button 
{
    text-align: right;
}

/* Graph Options */
.graph 
{
    width: 72%;
    float: left;
}
.graph-options 
{
    width: 26%;
    float: right;
    border: 1px solid #d4d2ca;
    font-size: 0.7em;
    line-height: 1.2em;
}
.graph-options ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.graph-options .options-title 
{
    background-color: #d4d2ca;
}

.graph-options .options-title a 
{
    font-weight: 900;
    color: #2159A7;
    padding: 0.5em;
    display: block;
    font-size: 1.2em;
    font-style: italic;
    cursor: pointer;
}
.graph-options .arrows-right-up,
.sorting_desc
{
    background: url("../images/sort_arrow_up.png") no-repeat scroll right center;
    margin-top: 0;
    cursor: pointer;
}
.graph-options .arrows-right-down,
.sorting_asc
{
    background: url("../images/sort_arrow_down.png") no-repeat scroll right center;
    margin-top: 0;
    cursor: pointer;
}

.sorting
{
    background: url("../images/sort_arrows_both.png") no-repeat scroll right center;
    margin-top: 0;
    cursor: pointer;
}

.graph-options .options-title a:hover 
{
    text-decoration: none;
}
.graph-options .options-subtitle 
{
    margin: 0.7em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #EAE8E1;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}
.graph-options table
{
    list-style: none;
    margin: 2%;
    width: 96%;
}
.graph-options table td
{
    padding: 0.2em;
    vertical-align:middle;
}
.graph-options table td a 
{
    color: #000;
}

.graph-subtitle 
{
    margin: 0.7em;
    padding-bottom: 0.2em;
    /*border-bottom: 1px solid #EAE8E1;*/
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80%;
}


/* ===============
   Formatting
   =============== */

h1 
{
    font-weight: 400;
    font-size: 1.5em; /* 30 / 20 */
    color: #696b67;
    text-transform: uppercase;
    padding: 1em 0 0.7em;
    margin: 0 0 0.5em 0;
    background: url("../images/two_lines.gif") repeat-x scroll left bottom;
    position: relative;
}

.headerdiv
{
    background: url("../images/two_lines.gif") repeat-x scroll left bottom;
    padding: 0 0 0.5em;
    margin: 0 0 0.5em 0;
}

.headerdiv h1
{
    padding: 1em 0 0.5em;
    margin: 0;
    background: none;
    display: inline-block;
    float: left;
}

.headerdiv .right-col
{
    float: right;
    display: inline-block;
}

#content-level2 h1
{
    padding-top: 0.3em;
}

#content-level2 h3
{
    display: block;
    text-align: center;
    width: auto;
}


h2 
{
    
    font-weight: 300;
    font-size: 1.2em; /* 24 / 20 */
    color: #6e6f6e;
    text-transform: uppercase;
    text-align: center;
    background: url("../images/two_lines.gif") repeat-x scroll left bottom;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 0;
}
h3 
{
    font-weight: 900;
    font-style: italic;
    font-size: 1.1em;  /* 22 / 20 */
    color: #6e6f6e;
    margin-bottom: 0.3em;
}
h3 span 
{
    font-size: 0.7272em;
    font-style: normal;
    font-weight: 400;
}
h4 
{
    font-weight: 600;
    font-size: 1.1em;  /* 22 / 20 */
    color: #434343;
    text-align: center;
}

h4.info-download-header
{
	text-align: left;
}

p.center 
{
    text-align: center;
}

/* =============================================================================
   Media Queries

   ========================================================================== */

@media only screen and (max-width: 1024px) 
{
	.center-form
	{
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) 
{

 #content-level2 h3
 {
     margin: 0.5em 0;
     width: 100%;
     float: none;
 } 

 #nav-level2 
 {
     float: none;
     width: 100%;
 }

 #nav-level2 ul
 {
     float: left;
 }


}
@media only screen and (max-width: 850px) 
{
	#content-level2
	{
		font-size: 0.8em;
    	line-height: 1.2;
    	border: 2px solid #D4D2CA;
    	margin-top: 0.2em;
	}
    #nav-level1 
    {
        border: 0;
    }
    #nav-level1 ul 
    {
        float: none;
        margin-top: 0.3em;
    }
    #nav-level1 ul li a span
    {
	display: none;
    }
    #nav-level1 ul li,
    #nav-level1 ul li.selected 
    {
        width: 31.3%;
        margin: 0.5%;
        border: 1px solid #D4D2CA;
        text-align: center;
    }
    #nav-level1 ul li.selected
    {
        background-color: #f7f6f3;
    }
    #nav-level1 ul li a 
    {
    float: none;
    display: block;
    padding: 0.4em 0.5em;
    margin: 0;
    }
    /**/
    #nav-level2 
    {
        border: 0;
    }
    #nav-level2 ul 
    {
        float: none;
        margin-top: 0.3em;
    }

    #nav-level2 ul li a span span
    {
#       padding: 0.2em 0.8em;
#       font-size: 1em;
	display: none;
    }

    #nav-level2 ul li,
    #nav-level2 ul li.selected 
    {
        width: 31.3%;
        margin: 0.5%;
        border: 1px solid #D4D2CA;
        text-align: center;
        float: left;
    }
    #nav-level2 ul li.selected
    {
        background-color: #D4D2CA;
    }
    #nav-level2 ul li a span,
    #nav-level2 ul li.selected a span 
    {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        border: 0 none;
        background-color: transparent;
    }

    #nav-level2 ul li a, 
    #nav-level2 ul li.selected a 
    {
        display: block;
        float: none;
        padding: 0.2em 0.5em;
        border: 1px solid #D4D2CA;
        margin-bottom: 0em;
        border: 0 none;
    }
    
    a.download-link
    {
    	padding: 0.4em 0.7em 0.5em;

    }
    
	.download-link img.pdf {
	    padding: 0 0.5em 0 0;
	}
	
	.green-button
    {
    	margin-left: 0.4em;
    }
    
    .green-button button span span,
    a.download-link span
    {
		display: none;
    }
    
    .form-box form {
	    padding: 0.5em 1em;
	}

	.form-left-col, 
	.form-right-col {
	    float: none;
	    width: 100%;
	}
}
@media only screen and (max-width: 755px) 
{
    .graph-options
    {
        width: 100%;
        float: none;
    }
    .graph-options
    {
        margin-bottom: 1em;
    }
        
    #graphDiv
	{
		width: 100%; 
	}
    
    
    .graph-options ul li
    {
        width: 48%;
        float: left;
        margin: 0;
        padding: 0;
    }
    #nav-level2 ul li.selected,
    #nav-level2 ul li
    {
        margin-right: 0.2em;
    }
    #nav-level2 ul li.selected span 
    {
        padding: 0.1em 0.3em;
        font-size: 0.9em;
    }
    #nav-level2 ul li a span 
    {
#        padding: 0.2em 0.8em;
        font-size: 0.9em;
    }
    #nav-level2 ul li a span span
    {
#       padding: 0.2em 0.8em;
#       font-size: 1em;
	display: none;
    }
}

@media only screen and (max-width: 700px)
{   
    #page
    {
        width: 95%;
    }
    
    #header .right-col 
    {
        font-size: 0.8em;
    }
    #header .right-col img 
    {
        padding: 0 0.2em;
	height: auto;
        max-width: 100% !important;
    }
    

    
    table.datatables th .long,
    table.datatables td .long 
    {
        display: none;
    }
    table.datatables th .short, 
    table.datatables td .short 
    {
        display: inline;
    } 
    table.datatables td 
    {
        font-size: 0.9em;
    }
    table.datatables td 
    {
        vertical-align: top;
    }
    
    input#search 
    {
        padding: 0.3em 1.6em 0.3em 0.3em;
         width: 8em;
         background: url("../images/search_icon.gif") no-repeat scroll 8.5em center #FFFFFF;
    }
    .spliter2 
    {
        padding: 0 0.4em;
        
    }
    .green-button button 
    {
        padding: 0.5em 1.3em;
    }
} 
@media only screen and (max-width: 615px)
{
    
    #header .right-col br.hidden  
    {
        display: inline;
    }
    #header .right-col img.hidden 
    {
        display: none;
    }
    #header .left-col 
    {
        width: 13em;
    }

	.form-box .two-cols .left-col,
	.form-box .two-cols .right-col
	{
		width: 100%;
		float: none;
		clear: none;
		padding-bottom: 1em;
	}

	.center-form .label-right-col,
	.center-form .input-left-col 
	{
		width: 100%;
		float: none;
		clear: none;
		text-align: left;
		margin-bottom: 0.5em;
	}
	
	.label-empty
	{
		display: none;
	}
		
}
@media only screen and (max-width: 560px)
{   
    
    table.datatables td 
    {
        font-size: 0.8em;
       
    }
    table.datatables th 
    { 
        font-size: 0.7em;
    }    
    input#search 
    {
        padding: 0.3em 1.6em 0.3em 0.3em;
        width: 8em;
    }
    .spliter2 
    {
        padding: 0 0.4em;
        
    }
    .green-button button 
    {
        padding: 0.5em 1.3em;
    }
	
	.dialog-inner{
	    margin: 0.2em;
	    padding: 0;
	}
	

}
@media only screen and (max-width: 480px)
{   
    #page
    {
        padding-top: 1em;
        width: 97%;
    }
    #header .right-col 
    {
        position: relative;
        top: auto;
        right: auto;        
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    #header .right-col br.hidden  
    {
        display: none;
    }
    #header .right-col img.hidden 
    {
        display: inline;
    }
    
    .right-col,
    .left-col
    {
    /*    width: 100%;
        float: none;
        text-align: center; */
    }
    .headerdiv h1,
    .headerdiv .right-col
    {
	float: none;
	display: block;
	text-align: center;
	width: 100%;
    }

    #header .left-col  
    {
        width: 13em;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    #header .left-col a,
    #header .left-col hr 
    {
        width: 100%;
    }
    #header .left-col a 
    {
        margin: 0 auto;
    }
    #nav-level1 
    {
        border: 0;
    }
    #nav-level1 ul 
    {
        float: none;
        margin-top: 0.3em;
    }
    #nav-level1 ul li,
    #nav-level1 ul li.selected 
    {
        width: 47%;
        margin: 1%;
        border: 1px solid #D4D2CA;
        text-align: center;
    }
    #nav-level1 ul li.selected
    {
        background-color: #f7f6f3;
    }
    #nav-level1 ul li a 
    {
    float: none;
    display: block;
    padding: 0.4em 0.5em;
    }
    /**/
    #nav-level2 
    {
        border: 0;
    }
    #nav-level2 ul 
    {
        float: none;
        margin-top: 0.3em;
    }
    #nav-level2 ul li,
    #nav-level2 ul li.selected 
    {
        width: 47%;
        margin: 1%;
        border: 1px solid #D4D2CA;
        text-align: center;
        float: left;
    }
    #nav-level2 ul li.selected
    {
        background-color: #D4D2CA;
    }
    #nav-level2 ul li a span,
    #nav-level2 ul li.selected a span 
    {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        border: 0 none;
        background-color: transparent;
    }

    #nav-level2 ul li a, 
    #nav-level2 ul li.selected a 
    {
        display: block;
        float: none;
        padding: 0.2em 0.5em;
        border: 1px solid #D4D2CA;
        margin-bottom: 0em;
        border: 0 none;
    }
    #content-level2 
    {
        border-top: 2px solid #D4D2CA;
    }
    /**/
    
    input#search 
    {
        width: 8em;
    }
    button .short 
    {
        display: none;
    }
    h1 
    {
        text-align: center;
    }
    .content 
    {
        margin: 0 auto;
        width: 98%;
    }
    .dataTables_length 
    {
        font-size: 0.7em;
    }
    .dataTables_paginate 
    {
        float: none;
        display: inline-block;
    }
    
    .dataTables_paginate span
    {
        float: none;
        display: inline-block;
    }
    .last.paginate_button 
    {
        border-right: 1px solid #BEBBB1;
    }
    .paginate_active,
    .paginate_button
    {
       padding: 0.4em 0.7em 1em;
    }
    .paginate_button.first,
    .paginate_button.last,
    .paginate_button.previous,
    .paginate_button.next
    {
		vertical-align: top;
    }
    .paginate_button img
    {
	padding: 0.25em;
    }

	.table-footer
	{
		height: 2.2em;
	}

    .table-footer,
    p.pdf-button 
    {
        text-align: center;
    }
    .graph-options ul li
    {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }
    
	input.input-large
	{
		width: 95%;
	}
	input.input-medium
	{
		width: 95%;
	}
	input.input-small
	{
		width: 75%;
	}



}
@media only screen and (max-width: 340px)
{
   
    
    #header .right-col 
    {
        font-size: 0.8em;
    }
    #nav-level1 ul li, #nav-level1 ul li.selected 
    {
        width: 47.3%;
    }
    #nav-level1 ul li a 
    {
        font-size: 0.75em;
    }
    input#search 
    {
        width: 7.5em;
        background: url("../images/search_icon.gif") no-repeat scroll 8em center #FFFFFF;
    }
    .green-button button 
    {
        padding: 0.5em 0.7em;
    }
    
    table.datatables td, 
    table.datatables th
    {
        font-size: 0.7em;
        padding: 0.7em 0.2em;
    }
    
    table.datatables th
    {
    	background-image: none;
    	
    }
    .ui-datepicker {
	    width: 100%;
	    left: 0 !important;
	}
    
    
    .names 
    {
    	font-size: 1.2em;
    }
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */




/* =============================================================================
   Print Styles
   ========================================================================== */

@mediaprint{
*
{
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}
/* Black prints faster: h5bp.com/s */
a, a:visited
{
    text-decoration: underline;
}
a[href]:after
{
    content: " (" attr(href) ")";
}
abbr[title]:after
{
    content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
{
    content: "";
}
/* Don't show links for images, or javascript/internal links */
pre, blockquote
{
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead
{
    display: table-header-group;
}
/* h5bp.com/t */
tr, img
{
    page-break-inside: avoid;
}
img
{
    max-width: 100% !important;
}
 @
page
{
    margin: 0.5cm;
}
p, h2, h3
{
    orphans: 3;
    widows: 3;
}
h2, h3
{
    page-break-after: avoid;
}

